{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome to My Blog</h1>
    <p>Welcome to my corner of the internet! I'm excited to share my thoughts, experiences, and discoveries with you here. Whether you're a first-time visitor or a regular reader, I hope you'll find something that sparks your curiosity or resonates with you. This blog is where I'll be exploring everything from [you can specify your main topics here], sharing stories from my journey, and hopefully starting some interesting conversations along the way. Make yourself comfortable, browse around, and don't hesitate to join the discussion in the comments.</p>
{% endblock content %}